<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nmeagpsserver">

    <uses-feature android:name="android.hardware.usb.host" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="NMEA GPS Server"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:icon="@mipmap/ic_launcher_new"
        android:roundIcon="@mipmap/ic_launcher_new_round">

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <!-- 📌 Ajout pour que l’app soit lançable depuis le launcher -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- 📌 Pour déclencher l'app à la connexion d’un GPS USB -->
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />

        </activity>

    </application>

</manifest>
