<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.insail.nmeagpsserver">

    <uses-feature android:name="android.hardware.usb.host" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:icon="@mipmap/ic_launcher_new"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:localeConfig="@xml/locales_config"
        >

        <activity
            android:name=".SystemLogsActivity"
            android:exported="false" />

        <activity
            android:name=".SettingsActivity"
            android:exported="false" />

        <activity
            android:name=".StopServiceConfirmActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Dialog.Alert" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".GpsUsbForegroundService"
            android:exported="false"
            android:foregroundServiceType="connectedDevice|dataSync" />

        <receiver
            android:name=".UsbAttachReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>
        </receiver>

    </application>
</manifest>